body {
  position: relative;
  margin: 0;
  box-sizing: border-box;
}
p {
  font-family: sans-serif;
}

h1.top-title {
  text-shadow:
    1px 1px 0 #cccccc,
    2px 2px 0 #cccccc,
    3px 3px 0 #444444,
    4px 4px 0 #444444,
    5px 5px 0 #444444,
    6px 6px 0 #444444;
  -webkit-transition: all 0.12s ease-out;
  -moz-transition: all 0.12s ease-out;
  -o-transition: all 0.12s ease-out;
  font-size: 5rem;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;
}

@media (min-width: 769px) {
  h1.top-title {
    font-size: 15rem;
  }
}

h1.top-title:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  max-width: 90%;
}


div.band {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.color--primary {
  background-color: hsla(360, 100%, 100%, 0.8);
  color: #010101;
  color: hsla(0, 0%, 5%, 0.8);
}
.color--secondary {
  background-color: hsla(0, 0%, 5%, 0.8);
  color: #fefefe;
  color: hsla(360, 100%, 100%, 0.8);
}
