p {
  font-family: sans-serif;
}

h1.top-title {
  text-shadow:
  1px 1px 0 #cccccc,
  2px 2px 0 #cccccc,
  3px 3px 0 #444444,
  4px 4px 0 #444444,
  5px 5px 0 #444444,
  6px 6px 0 #444444;
  -webkit-transition: all 0.12s ease-out;
  -moz-transition: all 0.12s ease-out;
  -o-transition: all 0.12s ease-out;
  font-size: 20rem;
  text-align: center;
}

h1.top-title:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

div.left {
  float: left;
  width: 40%;
  margin-left: 1rem;
  margin-right: 1rem;
}

div.right {
  float: right;
  width: 40%;
  margin-left: 1rem;
  margin-right: 1rem;
}
